matplotlib>=3.7,<4.0
numpy>=1.24,<3.0
pandas>=2.0,<3.0
pyarrow>=10,<30.0
python-dotenv>=1.0,<2.0
pyyaml>=6.0,<7.0
scikit-learn>=1.2,<2.0
scipy>=1.10,<2.0
shap>=0.42,<1.0
statsmodels>=0.14,<1.0
ta>=0.10,<1.0
typing_extensions>=4.12,<5.0
xgboost>=1.7,<4.0
yfinance>=0.2,<2.0
